body{
    margin: 0px;
}

/* Componentes navbar */

.nav-contenedor{
    position: sticky;
    z-index: 3;
    top: 0;
}

.navbar{
    display: flex;
    justify-content: space-between;
    height: 12vh;
    background-color: black;
}

.nav-logo{
    justify-self: start;
    margin-left: 20px;
    color: white;
    margin-top: 4vh;
}

.nav-carrito{
    justify-self: end;
    margin-left: 20px;
    cursor: pointer;
    font-size: 50px;
}

/* Componentes banner*/

.banner{
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-image: url(../assets/para-fondo-wall.jpg);
}

.banner-contenedor{
    text-align: center;
    padding: 15% 0;
}

.banner h1{
    font-size: 50px;
    margin: 0;
    color: white;
    background-color: black;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    font-weight: bold;
}

.banner p {
    font-size: 30px;
    color: white;
    background-color: black;
    opacity: 0.7;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}


/* posible ver carrito */

/*

.ver-carrito{
    font-size: 25px;
    margin-right: 20px;
    margin-top: 3.5vh;
    cursor: pointer;
}

*/



/*

.preview-articulo{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    height: 180;
    width: 25%;
}

.preview-articulo img{
    margin: 10px;
    height: 100px;
    width: auto;
}

*/